@font-face {
  font-family: 'Graphik';
  src: local('Graphik Regular'), local('Graphik-Regular'),
    url('../fonts/Graphik-Regular.woff2') format('woff2'),
    url('../fonts/Graphik-Regular.woff') format('woff'),
    url('../fonts/Graphik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: local('Graphik Semi bold'), local('Graphik-Semi-bold'),
    url('../fonts/Graphik-Semibold.woff2') format('woff2'),
    url('../fonts/Graphik-Semibold.woff') format('woff'),
    url('../fonts/Graphik-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


* {
  box-sizing: border-box;
}

body {
  font-family: 'Graphik', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  color: #000000;
}

a {}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
}

.logo__img {
  margin-right: 50px;
}

.menu {
  margin-left: auto;
}

.menu__list {
  display: flex;
  list-style: none;
}

.menu__list-item+.menu__list-item {
  margin-left: 42px;
}

.menu__list-link {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.user-nav {
  margin-left: 100px;
  margin-right: 50px;
}

.user-nav__link {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  padding: 10px 20px;
  border: 1px solid #BCD0E5;
  border-radius: 1px;
  text-decoration: none;
}

.user-nav__link+.user-nav__link {
  margin-left: 10px;
  border-color: transparent;
  background-color: #FF6336;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
}

.top__inner {
  padding: 130px 0 0;
  background-image: url('..//img/top-bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.top__title {
  font-weight: 600;
  font-size: 65px;
  line-height: 70px;
  margin-bottom: 51px;
  max-width: 552px;
}

.top__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 30px;
  max-width: 471px;
}

.top__btn {
  display: inline-block;
  color: #FFFFFF;
  background-color: #FF6336;
  padding: 15px 41px 14px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

.top__link {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  padding: 10px 20px;
  border: 1px solid #BCD0E5;
  border-radius: 1px;
  text-decoration: none;
}

.top__add {
  margin-top: 25px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.localization {
  background-color: #FF9C7D;
}

.localization__inner {
  margin-top: 147px;
  margin-bottom: 100px;
  padding-top: 98px;
  padding-bottom: 94px;
  text-align: center;
}

.localization__title {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  max-width: 720px;
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
}

.localization__comp {
  display: flex;
  justify-content: space-between;
}

.benefits {
  padding: 100px 0 150px;
}

.benefits__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.benefits__item-content {
  max-width: 520px;
}

.benefits__item-title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  margin-bottom: 30px;
}

.benefits__item-text {
  margin-bottom: 30px;
}

.benefits__item-link {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}

.tools {
  padding-top: 120px;
  background-color: #FFF8E4;
}

.tools__inner {
  padding-bottom: 90px;
}

.tools__title {
  text-align: center;
  max-width: 890px;
  margin: 0 auto 46px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
}

.tools__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  max-height: 702px;
  max-width: 1290px;
  padding: 0;
  margin: auto;
  text-align: center;
}

.tools__item {
  max-width: 330px;
  margin-bottom: 57px;
}

.tools__item-img {
  margin-bottom: 26px;
}

.tools__item-title {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  margin-top: 0;
  margin-bottom: 20px;
}

.advantage {
  padding-top: 154px;
  padding-bottom: 190px;
}

.advantage__title {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 84px;
}

.advantage__items {
  display: flex;
  justify-content: space-between;

}

.advantage__item {
  width: 409px;
}

.advantage__item-img {
  margin-bottom: 67px;
  max-width: 180px;
  max-height: 180px;
}

.advantage__item-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 34px;
}

.advantage__item-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  cursor: pointer;
}

.article {
  background-color: #C9E8F2;
  padding-top: 63px;
  padding-bottom: 105px;
  margin: 0;
}

.article__inner {
  display: flex;
  justify-content: space-between;

}

.article__review {
  width: 895px;
}

.article__review-text {
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 23px;
}

.article__review-name {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 7px;
}

.translation {
  background-color: #DABC98;
  padding-top: 69px;
  padding-bottom: 80px;


}

.translation__inner {
  display: flex;
  justify-content: space-between;
}

.translation__inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 809px;
}




.translation__inner-content-img {
  margin-right: auto;
  display: inline-block;
}

.translation__inner-content-title {
  font-size: 35px;
  font-weight: 600;
  line-height: 50px;
  margin-left: 67px;
}

.translation__inner-content-prog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 481px;
  border-left: 1px solid #000000;
}

.translation__inner-content-prog--item {
  margin-left: 70px;
}

.translation__inner__prog {
  margin-bottom: 20px;
}

.translation__inner-content-stars {
  margin-bottom: 14px;
}